@model ZoolandiaMVC.Models.Habitat

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Habitat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdHabitatType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdHabitatType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.open)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.open)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
